html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    color: plum;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    /* font-family: 'La Belle Aurore', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */

}
button {
    color:plum;
}

body {
    font-family: sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
     /* font-family: 'Prata', serif; */
    /* font-family: 'Shadows Into Light', cursive;  */
}
footer p {
    color: plum;
    text-align: center;
    /* background-color: plum; */
}
ul {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    color: dimgray;
}
  

