html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    color: plum;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    /* font-family: 'La Belle Aurore', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */

}
a {
    color:plum;
    size: 60px;
}
nav a {
    color: plum;
    padding-right: 1em;
}
input {
    width: 20%;
}
button {
    color:plum;
}

body {
    font-family: sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
     /* font-family: 'Prata', serif; */
    /* font-family: 'Shadows Into Light', cursive;  */
}
footer p {
    color: plum;
    text-align: center;
    /* background-color: plum; */
}
ul {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    color: dimgray;
    list-style-type: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}

#search button {
    width: 5%;
}