{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% csrf_token %}

{{user.favoriteSneakers.all}}



{% if user.is_authenticated %}
Hi {{ user.username }}
<p><a href="{% url 'logout' %}">LOG OUT</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">LOG IN</a> |
    <a href="{% url 'signup' %}">SIGN UP</a>
{% endif %}

<div id="app">
    <div>
        <input v-model="brand" placeholder="search by brand">
        <button @click="searchSneakersByBrand"><i class="fa fa-search"></i></button>
    </div>
    {% comment %} <h1>[[ message ]]</h1> {% endcomment %}

    
    <ul>
        <template v-for="sneaker in listOfSneakers">
            <li v-if="sneaker.image.original">
               <button @click="addSneakersToList(sneaker)"><i class="fa-regular fa-heart"></i></button>
        
               <img v-bind:src="sneaker.image.original" alt="" width="400" height="400"> <br>
                 <h3>[[ sneaker.brand ]]</h3>
                 [[ sneaker.name ]]
                 {% comment %} [[ sneaker.color ]]<br> {% endcomment %}
                <h2>$[[ sneaker.price ]]</h2>
                {% comment %} links: [[ sneaker.links ]]<br> {% endcomment %}
                <button>Buy</button>
            </li>
        </template>
    </ul>  
     <ul>
        <template v-for="sneaker in listOfSneakers">
        <li v-if="sneaker.id">
        <li>
        </template>
    </ul> 

    [[currentUser.favorites]]
</div>
<input type="hidden" value="{{request.user.id}}" id="userId">


<script src="https://unpkg.com/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script> 
    const app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: "She'Neaker",
            urlEndpoint: "/api/v1/sneakers/",
            listOfSneakers: '',
            brand: '',
            addSneaker: {
                image: '',
                name: '',
                brand: '',
                color: '',
                price: '',
                links: '',
            },
            currentUser: '',
            currentUserEndpoint: "/api/v1/currentuser/",
            sneakerUsers: '',
            csrf_token: '',
        },

        methods: {
            getSneakers: function () {
                console.log('loading sneakers')
                axios({
                    method: 'get',
                    url: this.urlEndpoint,
                }).then(response => {
                    console.log(response.data)
                    this.listOfSneakers = response.data
                    console.log('List of Sneakers', this.listOfSneakers)
                }).catch(error => {
                    console.log('error.response: ', error)
                })

            },
             searchSneakersByBrand: function () {
                axios ({
                    method: 'get',
                    ///api/v1/sneakers/brand/?search=${}
                    url: this.urlEndpoint + `brand/?search=${this.brand}`,
                }).then(response => {
                    console.log(response.data)
                    this.listOfSneakers = response.data
                }).catch(error => {
                    console.log('error.response', error)
                })
            }, 
            addSneakersToList: function (sneaker) {
                console.log("adding sneaker to list")
                let userId = document.getElementById("userId").value
                console.log(sneaker)
                console.log('sneaker.users:', sneaker.users)
                console.log(typeof sneaker.users)
                this.sneakerUsers = sneaker.users

                sneaker.users.push(this.currentUser.id)
                axios({
                    method: 'patch',
                    url: this.urlEndpoint + `${sneaker.id}/`,
                    data: {
                        "users": sneaker.users,
                    },
                    headers: {
                        "X-CSRFToken": this.csrf_token
                    },
                }).then(response => {
                    console.log(response.data)
                    this.addSneaker = response.data
                    console.log('added sneaker', this.addSneaker)
                }).catch(error => {
                    console.log('error.response', error)
                })
            },
            getCurrentUser: function () {
                axios({
                    method: 'get',
                    url: this.currentUserEndpoint,
                }).then(response => {
                    console.log(response.data)
                    this.currentUser = response.data
                }).catch(error => {
                    console.log('error.response', error)
                })
            },
            
          







        },


        mounted: function () {
            console.log('mounting')
            this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            this.getSneakers()
            this.getCurrentUser()
        }



    });
</script> 

{% endblock %}





